/test-output/*
.classpath
.project
.settings/
.idea*
**/*.iml
**/target
**/dependency-reduced-pom.xml
**/metrics.log
**/rawlogs.log
**/transactions.log
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties
.vscode/settings.json
**/derby.log
logs/
*.class
bin/**
/test.mv.db
/test.trace.db
.DS_Store
src/.DS_Storeq